//darker shades
// $primary-0: hsl();
// $primary-1: hsl();
// $primary-2: hsl();
// $primary-3: hsl();
// $primary-4: hsl(); // primary color
// $primary-5: hsl();
// $primary-6: hsl();
// $primary-7: hsl();
// $primary-8: hsl();
//brighter shades

//darker shades
$secondary-0: hsl(200, 61%, 21%);
$secondary-1: hsl(200, 60%, 29%);
$secondary-2: hsl(200, 60%, 37%);
$secondary-3: hsl(200, 60%, 45%);
$secondary-4: hsl(200, 60%, 52%); //secondary color
$secondary-5: hsl(200, 60%, 60%);
$secondary-6: hsl(200, 60%, 67%);
$secondary-7: hsl(200, 60%, 81%);
$secondary-8: hsl(200, 60%, 85%);
//brighter shades

//darker shades
$gray-0: hsl(210, 20%, 21%);
$gray-1: hsl(210, 20%, 29%);
$gray-2: hsl(210, 20%, 37%);
$gray-3: hsl(210, 20%, 45%);
$gray-4: hsl(210, 20%, 52%); //grayw color
$gray-5: hsl(210, 20%, 60%);
$gray-6: hsl(210, 20%, 67%);
$gray-7: hsl(210, 20%, 81%);
$gray-8: hsl(210, 20%, 85%);
//brighter shades

//misc colors (not always used)

$white: #fff;
$black: #222;

$red-dark: hsl(0, 66%, 24%);
$red-light:  hsl(0, 100%, 50%);
$green-dark: hsl(125, 66%, 24%);
$green-light:  hsl(125, 66%, 55%);