@use '../util/mixins' as *;
@use '../util/variables' as *;
@use '../themes/defaultTheme' as *;
//global styles
h1,
h2,
h3,
h4 {
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: #617d98;
}

@include tablet() {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }

    .section, .container{
        width: 90vw;
        margin: 0 auto;
        max-width: $max-width;
    }

    @include large{
        .section{
            width: 95vw;
        }
    }

    @include large{
        .container{
            text-align: left;
            margin-top: 5rem;
        }
    }
}

body{
    background-color: $white;
}

.container{
    border-top: 20vh solid rgba(0, 0, 0);
    border-left: 2.3vw solid rgba(0, 0, 0);
    border-right: 2.55vw solid rgba(0, 0, 0);
    border-bottom: 20vh solid rgba(0, 0, 0);
    padding: 1.5rem 2rem;
    box-shadow: $dark-shadow;
    background: $white;
    max-width: 100%;
    margin-top: 5.7vh;
    height: 45vh;
    h1{
        text-align: center;
    }
    h2{
        font-weight: normal;
        text-transform: none;
        margin-bottom: 2rem;
        text-align: center;
    }
    button{
        color: black;
        display: block;
        width: 45%;
        border-color: $gray-8;
        background-color: $white;
        margin-left: 20rem;
        margin-top: -15px;
        font-size: 1.2rem;
        padding: 0.5rem 0;
        letter-spacing: $spacing;
        border-radius: $radius;
        outline: none;
        &:hover{
            background-color: red;
            color: white;
            border: none;
        }
    }
    .buttons{
        @include flex-center;
    }
}

nav{
    background: $secondary-0;
    box-shadow: $light-shadow;
    height: 15rem;
}
#root{
    width: 100%;
}