@use "../themes/defaultTheme" as *;
@use "../util/variables" as *;
@use "../util/mixins" as *;

@include phone {
  .calc-main{
    display: none;
  }
}

@include tablet {
  body {
    background-color: $gray-4;
    width: 100%;
    margin-top: -10vh;
    .calc-main {
      position: absolute;
      left: 0;
      width: 99%;
      .calc {
        margin-top: 30vh;
        background-color: black;
        color: white;
        height: 25vh;
        width: 99%;
        .total {
          font-size: 170px;
        }
      }
    }
    .calc-services {
      display: inline-flex;
      flex-wrap: wrap;
      line-break: auto;
      width: 100%;
      .calc-service {
        background-color: white;
        color: black;
        justify-content: center;
        text-align: center;
        border: 2px solid black;
        height: 30vh;
        width: 32.5%;
      }
    }
  }
}


@include desktop {
  body {
    background-color: $gray-4;
    width: 100%;
    margin-right: 5px;
    margin-top: 0.8vh;
    .calc-main {
      width: 100%;
      .calc {
        margin-top: 125px;
        background-color: black;
        color: white;
        height: 25vh;
        width: 99.9%;
        .total {
          font-size: 170px;
        }
      }
    }
    .calc-services {
      display: inline-flex;
      flex-wrap: wrap;
      line-break: auto;
      width: 100.85%;
      .calc-service {
        background-color: white;
        color: black;
        justify-content: center;
        text-align: center;
        border: 2px solid black;
        height: 25vh;
        width: 24.5%;
      }
    }
  }
}